body{
    background-color: rgb(212, 216, 221);
    background-image: linear-gradient(rgba(57, 57, 62, 0.65),rgba(48, 47, 52, 0.65)), url(../../assets/adminauthback.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.content{
    margin-top: 35%;
    background-color: rgb(244, 246, 248);
    padding:70px;
    border: 1px solid rgb(17, 1, 27,0.1);
    border-radius: 6px;
    box-shadow: 0 14px 15px rgba(149, 149, 158, 0.2);
    margin-bottom: 200px;
}

input[type=text],input[type=password]{
    width:95%;
    height:40px;
    color: #000;
    margin-top: 15px;
    margin-left: 6px;
}

.btn{
    padding:12px;
    border-radius: 8px;
    background-color: #140e22;
    color:#fff;
    margin-top: 5%;
    margin-left: 35%;
}

