<!DOCTYPE html>
<html>
    <head>
        <title>Admin Home</title>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <img src="../../assets/LOGO.png" alt="Travel Image">
                <h1>Trip Scape</h1>
                <div class="exit">
                    <a href="">Exit-->></a>
                </div>
            </div>
            <div class="content">
                <div class="inner">
                    <div class="upper">
                        <div class="panel">
                            <button class="square-button">
                                <a href="/adminhotel"><img src="../../assets/ahotel.jpg" alt="Hotel Image" ></a>
                                <div class="overlay-text">Hotels</div>
                            </button>
                        </div>
                        <div class="panel">
                            <button class="square-button">
                                <img src="../../assets/aattraction.jpg" alt="Hotel Image">
                                <div class="overlay-text">Attractions</div>
                            </button>
                        </div>
                        <div class="panel">
                            <button class="square-button">
                                <img src="../../assets/packages.jpg" alt="Hotel Image">
                                <div class="overlay-text">Packages</div>
                            </button>
                        </div>
                        <div class="panel">
                            <button class="square-button">
                                <img src="../../assets/bus.jpg" alt="Hotel Image">
                                <div class="overlay-text">Buses</div>
                            </button>
                        </div>
                    </div>
                    <div class="lower">
                        <div class="panel">
                            <button class="square-button1">
                                <img src="../../assets/train.jpg" alt="Hotel Image">
                                <div class="overlay-text">Trains</div>
                            </button>
                        </div>
                        <div class="panel">
                            <button class="square-button1">
                                <img src="../../assets/cab.jpg" alt="Hotel Image">
                                <div class="overlay-text">Cabs</div>
                            </button>
                        </div>
                        <div class="panel">
                            <button class="square-button1">
                                <img src="../../assets/flight.jpg" alt="Hotel Image">
                                <div class="overlay-text">Flights</div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>