*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(rgba(57, 57, 62, 0.65),rgba(48, 47, 52, 0.65)), url(../../assets/cp.jpg);
    background-size: cover;
}

.details{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top:20px;
    width:265px;
    height: 40px;
}

h1{
    color: #19032c;
    text-align: center;
}

.cn{
    padding:8px;
    color:#fff;
    background-color: rgb(7, 7, 59);
    margin-top: 15px;
    margin-left: 80px;
    border-radius: 6px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.cn:hover{
    border-radius: 20px;
}

.container{
    background-color: rgb(240, 248, 255,0.5);
    max-width: 640px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}