<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TripScape</title>
  <link rel="stylesheet" href="../../app/changepwd/changepwd.component.css">
</head>
<body>
    <div class="container">
        <h1>Change Password</h1>
        <div class="inner">
            <input type="password" class="details" id="rpwd" placeholder="New Password" name="pwd" required/><br>
            <input type="password" class="details" id="rpwd" placeholder="Confirm Password" name="pwd" required/><br>
            <button type="button" class="cn">Change Now</button>
        </div>
    </div>
</body>
</html>