<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Planner</title>
    <link rel="icon" href="../../assets/LOGO.png" type="image/x-icon">
    <link rel="stylesheet" href="home.component.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../../assets/LOGO.png" alt="Logo">
        </div>
        <div class="title">
            <h1>Trip Scape</h1>
            <a href="flightfill"><img src="../../assets/airplane.png" alt="Aeroplane"></a>
            <div class="image-overlay airplane-overlay">
                <p>Flight</p>
            </div>
            <a href="busfill"><img src="../../assets/bus.png" alt="Bus"></a>
            <div class="image-overlay bus-overlay">
                <p>Bus</p>
            </div>
            <img src="../../assets/custom-clearance.png" alt="Package">
            <div class="image-overlay package-overlay">
                <p>Package</p>
            </div>
            <img src="../../assets/mountain.png" alt="Mountain">
            <div class="image-overlay mountain-overlay">
                <p>Attractions</p>
            </div>
            <a href="trainfill"><img src="../../assets/train.png" alt="Train" ></a>
            <div class="image-overlay train-overlay">
                <p>Train</p>
            </div>
            <a href="hotelfill"><img src="../../assets/resort.png" alt="Resort"></a>
            <div class="image-overlay resort-overlay">
                <p>Resort</p>
            </div>
            <a href="cabfill"><img src="../../assets/taxi-cab.png" alt="Taxi Cab"></a>
            <div class="image-overlay taxi-overlay">
                <p>Taxi Cab</p>
            </div>
        </div>
        <div class="nav">
            <a href="register" class="button">Register</a><br>
            <a href="login" class="l">Login</a>
        </div>
    </header>
    <div class="banner">
        <img src="../../assets/HOME.gif" alt="Banner Image">
    </div>
    <section id="about-us">
        <h2>About Us</h2>
       <p>Welcome to TripScape, your ultimate destination for hassle-free travel planning! We understand that travel is more than just reaching a destination. It's about the experiences and memories you create along the way. That's why we're here to make your journey seamless, memorable, and full of adventures.</p>
  <p>At TripScape, we are passionate about exploring the world and helping you discover new destinations, cultures, and experiences. Whether you're planning a solo backpacking trip, a family vacation, or a romantic getaway, we've got you covered.</p>
  <p>With our user-friendly platform, you can easily search for flights, hotels, rental cars, and activities tailored to your preferences and budget. Our team of travel experts is dedicated to providing you with personalized recommendations, insider tips, and round-the-clock support to ensure your trip exceeds expectations.</p>
  <p>So why wait? Start your next adventure with TripScape today and let us turn your travel dreams into reality!</p>

    </section>
    <section id="attractions">
        <h2>Attractions</h2>
        <div class="attraction-images">
            <img src="../../assets/A1.png" alt="Attraction 1">
            <img src="../../assets/A2.png" alt="Attraction 2">
            <img src="../../assets/A3.png"  alt="Attraction 3">
            <img src="../../assets/A4.png"  alt="Attraction 4">
         </div>
    </section>
	 <section id="packages">
        <h2>Recommended destinations</h2>
        <div class="packages-images">
            <img src="../../assets/P1.png" alt="package 1">
            <img src="../../assets/P2.png" alt="package 2">
            <img src="../../assets/P3.png" alt="package 3">
            <img src="../../assets/P4.png" alt="package 4">
        </div>
    </section>
    <footer>
        <div class="contact-details">
            <h3>Contact Us</h3>
            <p>Email: contact_tripscape&#64;gmail.com</p>
            <p>Phone: +91 9800768722</p>
        </div>
        <div class="social-icons">
            
            <a href="https://www.facebook.com/YourFacebookPage" class="social-icon">
                <img src="../../assets/facebook.png" alt="Facebook Icon">
            </a>
        
            <a href="https://twitter.com/YourTwitterProfile" class="social-icon">
                <img src="../../assets/twitter.png" alt="Twitter Icon">
            </a> 
        
            <a href="https://www.instagram.com/YourInstagramProfile" class="social-icon">
                <img src="../../assets/instagram.png" alt="Instagram Icon">
            </a>
            </div>
    </footer>
</body>
</html>
