

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  header img {
    height: 50px;
    width: 50px;
  }
  .logo img {
    width:250px;
    height: 50px;
    border:white;
}
.trendysearch{
  display: flex;
  margin-left: 100px;
  margin-top: 20px;
}
.ts1,.ts2,.ts3
{
  color: #1e105c;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.nav img{
  margin-right:20px;
}
@keyframes glow {
  from {
    box-shadow: 0 0 20px black;
  }
  to {
    box-shadow: 0 0 30px black, 0 0 10px black;
  }
}
@keyframes glow1 {
  from {
    box-shadow: 0 0 20px white;
  }
  to {
    box-shadow: 0 0 30px white, 0 0 10px white;
  }
}
body{
  width:100%;
}
@keyframes slide-up {
  0% {
      opacity: 0;
      transform: translateY(50%);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.title h1 {
    margin-right: 500px;
    color:white;
    animation: slide-up 2s ease-out forwards;
}
.title {
    display: flex;
    align-items: center;
    animation: slide-up 2s ease-out forwards;
}

.title img {
    width: 35px;
    height: auto;
    margin-right: 10px;
    box-shadow: 0 4px 6px white;
    background-color: white;
    animation: glow1 2s ease-in-out infinite;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color:#1e105c;
}

h2{
  font-family:Arial, Helvetica, sans-serif;
  font-size:xx-large;
  animation: glow 2s ease-in-out infinite;
}

h3{
  color: #1e105c;
}
.main-container {
  width: 100%;
  margin-top:10px;
  animation: slide-up 2s ease-out forwards;
  animation: glow 2s ease-in-out infinite;
}

.details-container {
  position: relative;
  margin-bottom: 70px;
  width:100%;
  animation: slide-up 2s ease-out forwards;
}

.from-label p{
  display:center;
}

.details-container img {
  width: 100%; 
  height: 700px; 
  object-fit: cover; 
  box-shadow: 0 4px 6px #1e105c;
  animation: slide-up 2s ease-out forwards;
}
.details {
  position: absolute;
  top: 50%;
  left: 50%;
  height:150px;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 10px;
  padding: 100px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation:glow 2s ease-in-out infinite;
}

.location-details {
  display: flex;
  align-items:flex-start;
  margin-bottom: 10px;
  margin-left: 30px;
}

.location-details input {
  flex: 1;
  padding: 15px;
  margin-right: 50px;
}

.date-travelers-class {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.date-travelers-class input,
.date-travelers-class select {
  flex: 1;
  padding: 5px;
  margin-right: 10px;
}
.depdate, 
.retdate,
.nofotrav,
.fclass{
  margin-left: 20px;
}
.search-button {
  padding: 10px 50px;
  background-color: #1e105c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 280px;
  margin-top: 30px;
  animation: glow 2s ease-in-out infinite;
}

.offers {
  display: flex;
  justify-content: space-between;
}

.offer {
  flex: 1;
  text-align: center;
}

.offer img {
  width: 90%;
  height: 200px;
  margin-bottom: 10px;
  animation: glow 2s ease-in-out infinite;
}
.offer p{
  font-weight: 100;
  color: #1e105c;
}
  footer {
    background-color:#1e105c;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    animation: slide-up 2s ease-out forwards;
  }
  .social-icons img {
    width: 30px;
    height: 30px;
}

.social-icons a {
  margin:  10px;
}
.image-overlay {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  background-color:#1e105c;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
}

.title img:hover + .image-overlay,
.title a:hover + .image-overlay,
.image-overlay:hover {
  opacity: 1;
  pointer-events: auto;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

